.ind-app {
    height: 100px;
    background: linear-gradient(to top, #414141, #777777);
    border-radius: 1em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
    margin-bottom: 1em;

    .restaurant-desc {
        color: #7878f8;
        font-size: 2em;
        font-weight: 700;
        margin-left: 1em;
    }

    .status-btn {
        display: flex;

        .btn {
            margin-right: 1em;
            background-color: white;
            cursor: pointer;
            padding: 1em;
            border-radius: 1em;

            &:hover {
                background-color: #6e6ec0;
            }
        }
    }
}