.restaurant-list{    
    min-height: 200px;
    width: 100%;
   
    .all-filtered-restaurant{
        width: 100%;
        height: auto;
        background-color:#5d5367;
    }
}
.loading-status{
    min-height: 200px;
    background-color: #f5c664;
    width: 100%;
}