.restaurant-list{    
    min-height: 200px;
    width: 100%;
   
    .all-filtered-restaurant{
        width: 100%;
        height: auto;
        background-color:#5d5367;
    }
}

.no-search-found{
    min-height: 200px;
    background-color: #f5c664;
    width: 100%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
}