.manage-restaurant-ById{
    min-height: 300px;
    width: 98%;
    background-color: #5d5367;  
    padding: 10px 1% 10px 1%;
    .restaurant-name{
        display: inline-block;
        font-size: 400%;
        text-align: center;
        min-width: 100%;
        margin: 1% auto;
        justify-content: space-between;
        color: #f5c664;
    }
   

    .restraunt-info{
        display: grid;
        grid-template-columns: 2fr 7fr;
        grid-gap: 3%;

        .describe-restaurant-data{
            width: 100%;
            height: 200px;
            background-color: #f5c664;
            border-radius: 1em;
            text-align: center;
        }

        .imgdiv{
            border: #f5c664;
            border-radius: 1em;
            background-color: #f5c664;
            text-align: center;
        }
    }

   
}