.restaurant-list-item{
    height: 150px;
    margin-top: 1em;
    margin-bottom:0.5em;
    border-radius: 8px;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    cursor: pointer;
 
    font-size:large;
    .imgdiv{
        align-items: left;
        text-align: left;
        display: inline-block;
        margin-right: 2em;
        width: 20%;
        height: 100%;
        img{
            height: 100%;
            width: 100%;
        }
    }

    .desc{
        width: 50%;
        &:hover{
            background-color: green;
        }
    }
    .delete_button{
        background-color: aliceblue;
        border: none;
        color: black;
        padding: 15px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 1em;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    
        &:hover{
            background-color: #fa5e5e;
            color: white;
            font-size: medium;
            font-weight: 800;
        }
    }
}
