.about-us {
  width: calc(100% - 40px);
  padding: 30px;
  min-height: 200px;
  height: auto;
  background: #2bc0e4;
  background: -webkit-linear-gradient(to top, #eaecc6, #2bc0e4);
  background: linear-gradient(to top, #eaecc6, #2bc0e4);
  .about-us-heading {
    font-size: 48px;
    text-align: center;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;;
    background: #e1e9eb;
    border-radius: 10%;
    background: -webkit-linear-gradient(to top, #efefea, #78888c);
    background: linear-gradient(to top, #efefea, #2bc0e4);
  }
  .aboutus-content {
    font-size: 20px;
    font-family: Helvetica;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 5% 10% 5% 10%;
  }
}
