.about-us {
  width: 100%;
  padding: 30px;
  margin: 1em 0;
  min-height: 52%;
  height: auto;
  background: #e5f0bc;
  background: -webkit-linear-gradient(to top, #0f7514, #ebeb6e);
  background: linear-gradient(to top, #0f7514, #ebeb6e);

  .about-us-heading {
    font-size: 48px;
    text-align: center;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    background: #e1e9eb;
    border-radius: 0.5em;
    background: -webkit-linear-gradient(to top, #d68101, #f1ee2c);
    background: linear-gradient(to top, #d68101, #f1ee2c);
  }

  .aboutus-content {
    font-size: 20px;
    font: 'Roboto';
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 5% 10% 5% 10%;
  }
}