.res-appl-admin{
    width: 100%;
    background-color: red;
    min-height: 300px;
    .heading{
        
        padding: 10px;
        display: flex;
        align-items: center;
        font-size:20px;
        font-weight: 900;
        font-family: 'Courier New', Courier, monospace;
    }
} 