.add-food-item{
    width: 100%;
    height: 100%;
    background-color: rgba(101, 102, 104, 0.5);
    top: 0;
    z-index: 110;
    display: flex;  
    top: 0;
    bottom:0;
    position:fixed;
    overflow-y:scroll;
    overflow-x:hidden;
    align-items: center;
    justify-content: center;
    .add-food-item-box{
        height: 660px;
        width: 600px;
        background-color: rgb(150, 193, 204);
        border-radius: 20px;
        padding: 5px 25px;
    }
    .submit-btn{
        width: 20%;
        padding: 15px;
        margin-left: 10px;
        padding-left: 20px;
        border: 1px solid rgb(4, 4, 4);
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 20px;
        resize: vertical;
        background-color: grey;
        &:hover{
            background-color: #45a049;
        }
    }
} 

.input-field{
    padding: 6px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 28px;

}

.name{
    padding-top: 0px !important;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  h2{
      text-align: center;
      font-size: 42px;

  }


//   input[type=submit] {
//     background-color: #04AA6D;
//     color: white;
//     padding: 12px 20px;
//     border: none;
//     border-radius: 4px;
//     cursor: pointer;
//   }
  
//   input[type=submit]:hover {
//     background-color: #45a049;
//   }