.manage-restaurant-page{
    width: 98%;
    background-color: #5d5367;
    min-height: 400px;
    min-height: 300px;

    color: #f5c664;

    font-weight: 800;
    
    text-align: center;
    font-family: sans-serif;

    font-size: larger;

    padding: 1%;
    .filter-restaurant-by-status{
        display: flex;

        padding: 2% 5% 2% 5%;
        max-width: fit-content;
        margin: 0 25%;

        .filter-button{
            background-color: #f5c664;
            color: black;
            padding: 1% 5em;
            display: inline-block;
            border-radius: 1em;
            margin: 0 2%;
            text-align: center;
            cursor: pointer;

            &:hover{
                background-color: #fa5e5e;
                color: white;
                font-weight: 900;
            }
        }

    }
 
    .restaurant-application-button{
        background-color: green;
        padding: 20px;
        border-radius: 2em;
        width: 20%;
        text-align: center;
        display: inline-block;
        cursor: pointer;

        &:hover{
            background-color: rgb(55, 165, 55);
            font-weight: 1250;
        }
    }
}