.manage-restaurant-page{
    width: 76%;
    background-color: #6f5589;
    min-height: 400px;
    min-height: 300px;
    color: #dcd0b7;
    font-weight: 800;
    text-align: center;
    font-family: sans-serif;
    font-size: larger;
    padding: 1% 13%;
    p{
        font-size: 36px;
        margin: 0;
        font-family: cursive;
    }
    .filter-restaurant-by-status{
        display: flex;
        background-color: red;
        max-width: fit-content; 

        width: 100%;
        .filter-button{
            background-color: #f5c664;
            color: black;
            display: inline-block;
            border-radius: 4px;
            margin: 0 5px;
            padding: 4px;
            text-align: center;
            cursor: pointer;
            &:hover{
                background-color: #caa5a5;
                color: white;
                font-weight: 900;
            }
        }

    }
 
    .restaurant-application-button{
        background-color: rgb(113, 118, 195);
        padding: 8px;
        border-radius: 1em;
        width: 200px;
        text-align: center;
        cursor: pointer;
        right: 0;
        display: block;
        &:hover{
            background-color: rgb(55, 165, 55);
            font-weight: 1250;
        }
    }
}