.member-page {
  width: calc(100% - 40px);
  background: #2bc0e4;
  background: -webkit-linear-gradient(to top, #eaecc6, #2bc0e4);
  background: linear-gradient(to top, #eaecc6, #2bc0e4);
  padding: 20px;
  min-height: 400px;
  height: auto;
  .heading {
    font-size: 30px;
    font-family: cursive;
    margin-bottom: -30px;
    text-align: center;
    margin-top: -30px;
    background: #e1e9eb;
    border-radius: 10%;
    background: -webkit-linear-gradient(to top, #efefea, #78888c);
    background: linear-gradient(to top, #efefea, #2bc0e4);
  }
  .members {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 40px);
    flex-wrap: wrap;
    padding: 10px;
    height: auto;
  }
}
