.food-item{
    width: calc(100% - 20px);
    padding: 20px 10px 20px 10px;
    height: auto;
    background-color: green;
 	margin-bottom: 5px;
    .extend-this-edit-option{
        height: 100px;
        width: 100%;
        background-color: red;
    }   
}

